{% extends 'layout.html' %}
{% block contenido %}
    <h1>PELICULAS DE ESTRENO</h1>
    <section class="py-5">

        <div class=" row g-4 mx-auto container " >
          <div class="col-md-4">
            <article class="card bg-dark text-white">
              <img src="https://images8.alphacoders.com/911/thumb-1920-911204.jpg"
                class="card-img-top" alt="Anime">
              <div class="card-body">
                <h5 class="card-title">Ready player one</h5>
                <p class="card-text">Un Grupo de jovenes que intentar ganar un juego que se ha comlicado con el pasar del tiempo <.</p>
                <a href="https://www.youtube.com/watch?v=4Y78D0fWnW0" class="btn btn-primary">VER TRAILER</a>
              </div>
            </article>
          </div>

          <div class="col-md-4">
            <article class="card bg-dark text-white">
              <img src="https://www.xtrafondos.com/descargar.php?id=8047&resolucion=1920x1080" class="card-img-top" alt="Anime">
              <div class="card-body">
                <h5 class="card-title">Loki</h5>
                <p class="card-text">Loki la serie se basa que el Dios de la mentiras se dá cuenta que controlar el tiempo tiene sus 
                    consecuencias .</p>
                <a href="https://www.youtube.com/watch?v=wcvbK_k_MgI" class="btn btn-primary">VER TRAILER</a>
              </div>
            </article>
          </div>

          <div class="col-md-4">
            <article class="card bg-dark text-white">
              <img src="https://images7.alphacoders.com/410/thumb-1920-410956.jpg" class="card-img-top" alt="Anime">
              <div class="card-body">
                <h5 class="card-title">Rapidos y furiosos</h5>
                <p class="card-text">un grupo de amigos deciden capturar un malvado para recuperar a una conocida 
                    que supuestamente esta muerta .</p>
                <a href="https://www.youtube.com/watch?v=h21C_UlOryw" class="btn btn-primary">VER TRAILER</a>
              </div>
            </article>
          </div>

          <div class="col-md-4">
            <article class="card bg-dark text-white">
              <img src="https://images.alphacoders.com/519/thumb-1920-519107.jpg" class="card-img-top" alt="Anime">
              <div class="card-body">
                <h5 class="card-title">shuerk</h5>
                <p class="card-text">Un Ogro decide recuperar su pantano invadido de cuentos de adas , para recuperarlo
                    ayuda al un rey a rescatar a una princesa que se enamora despues .</p>
                <a href="https://www.youtube.com/watch?v=CwXOrWvPBPk" class="btn btn-primary">VER TRAILER</a>
              </div>
            </article>
          </div>

          <div class="col-md-4">
            <article class="card bg-dark text-white">
              <img src="https://uhdwallpapers.org/uploads/converted/19/09/21/joker-4k-poster-1920x1080_666674-mm-90.jpg" class="card-img-top" alt="Anime">
              <div class="card-body">
                <h5 class="card-title">Joker</h5>
                <p class="card-text">hombre con problemas mentales decide hacer actos de maldad sin control , revelando su 
                    mas oculta personalidad sicopata de locura.</p>
                <a href="https://www.youtube.com/watch?v=CwXOrWvPBPk" class="btn btn-primary">VER TRAILER</a>
                
              </div>
            </article>
          </div>

          <div class="col-md-4">
            <article class="card bg-dark text-white">
              <img src="https://images3.alphacoders.com/948/thumb-1920-948864.jpg" class="card-img-top" alt="Anime">
              <div class="card-body">
                <h5 class="card-title">Venon</h5>
                <p class="card-text">Joven reportero se encuentra con una anomalia  viviente en la cual es
                    compatible ,que le cambiara la vida y se convertiran en venon.</p>
                <a href="https://www.youtube.com/watch?v=UZggozsVz9M" class="btn btn-primary">VER TRAILER</a>
              </div>
            </article>
          </div>
{% endblock %}